
  	Algumas vagas recentes:
    <% @jobs.each do |job|%>
    <tr>
    	<td>
    		<%= link_to job.title, job %>
    	</td>
    	<td>
    	  <%= link_to job.company, job.url %>
    	</td>
    	<td>
    		<%= job.description  %>
    	</td>
    </tr>
    <% end %>
  