<% if flash[:notice] %>
  <div class="alert alert-success" role="alert"><%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger" role="alert"><%= flash[:alert] %>
  </div>
<% end %>
<%= form_for @newsletter, url: { controller: "newsletter", action: "create" } do |form| %>
  Assine nossa newsletter:
  
  <%= form.email_field :email, required: true, placeholder: "Seu email aqui" %>
  <%= form.submit "Assinar", class: "btn btn-primary", required: true, data: { disable_with: "Assinando..." } %>

<% end %>