<% @jobs.each do |job| %>
  <div class="post-preview">
    <h2 class="post-title">
      <%= link_to job.title, job %>
    </h2>
    <h3 class="post-subtitle">
      <%= link_to job.company, job.url %>
    </h3>
                   
    <p class="post-meta">Vaga postada: <%= timeago(job.created_at)%></p>
      <%= link_to "Saiba mais.", job %>
  </div>
  <hr>
<% end %>

<ul class="pager">
  <li class="next">
     <%= paginate @jobs, data: { class: "pagination" } %>
  </li>
</ul>
<script>
$(function() {
  $("time.timeago").timeago();
});
</script>