    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="breadcumbs">
                  <i><%= link_to("Início/", root_path) %>Sobre o projeto</i>
                </div>
                <p>O Empregos Caldas Novas nasceu da ideia de facilitar a centralização e disponilibidade de vagas de empregos em Caldas Novas.</p>
                <p>O projeto ainda em fase beta é de cunho colaborativo, portanto não nos responsabilizamos pelo conteúdo das vagas aqui postadas.</p>
                <p>Esperamos que seja de grande benefício para futuros empregados e empregadores, a equipe CodeBeMine / CodeBeMe agradece pelo uso do software!</p>
                <p>
                    Desenvolvedores:
                    <ul>
                        <li><a href="https://github.com/felipecabral26">Felipe Cabral - Front-end Developer</a></li>
                        <li><a href="https://github.com/ocsjwolf">Osvaldo Carlos - Back-end Developer</a></li>
                        <li><a href="https://github.com/taikio">Welker Arantes - Mobile Developer</a></li>
                    </ul>
                </p>
                <br/>
                <%= link_to "Voltar ao início", root_path %>
            </div>
        </div>
    </div>
