    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            	<%= form_tag(root_path, remote: true, method: "get", id: "search-form") do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Pesquisar Vagas" %>
                  <%= submit_tag "pesquisar", :title => nil, class: "btn btn-info", data: { disable_with: "Pesquisando..." } %>
            	    
                <% end %>
                <div id="jobs">
                  <%= render "job" %>
                </div>
                <div class=" col-md-4">
                  <%= link_to("Anuncie sua Vaga", new_job_path, class: "btn btn-success") %>
                </div>
                <div class=" col-md-8">
                  <%= render "newsletters/create" %>
                </div>
            </div>
        </div>
    </div>