    <%= simple_form_for @job, url: { controller: "jobs", action: "create" } do |form| %>
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="breadcumbs">
                <i><%= link_to("Início/", root_path) %>Vaga Nova</i>
              </div>
                <% if flash[:alert] %>
                  <div class="alert alert-danger" role="alert"><%= flash[:alert] %>

                    <%#= form.error_notification %>
                    
                    <br/>
                  </div>
                <% end %>
                <form name="sentMessage" id="contactForm" novalidate>
                    
                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= form.input :title, placeholder: "Título da Vaga", class: "form-control", :input_html => {:maxlength => 180, :size => '100%'}%>
                      </div>
                  </div>
                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                      <%= form.input :company, label: "Nome da companhia", placeholder: "Nome da Companhia", class: "form-control", :input_html => {:maxlength => 180, :size => '100%'}%>
                      </div>
                  </div>
                  <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls"><%= form.input :url, label: "Link para vaga", placeholder: "Link da vaga ou site da empresa", class: "form-control", :input_html => {:maxlength => 180, :size => '100%'}, as: :url, required: false %>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls"><%= form.input :email, label: "Email:", placeholder: "Email de contato", class: "form-control", :input_html => {:maxlength => 180, :size => '100%'}, as: :email, required: false %>
                        </div>
                    </div>
                    
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls"><%= form.input :telephone, label: "Telefone:", placeholder: "Telefone de contato", class: "form-control", :input_html => {:maxlength => 180, :size => '100%'}, as: :tel, required: false %>
                        </div>
                    </div>

                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <%= form.input html_escape(:description), label: "Descrição da vaga", placeholder: "Descrição da Vaga", class: "form-control pre code", :input_html => { :rows => '5%', :cols => '100%' }  %>

                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                             <%= form.button :submit, "Anunciar", class: "btn btn-success", data: { disable_with: "Anunciando..." }%>
                        </div>
                    </div>
                </form>
                <% end %>
                    <%= link_to "Voltar ao início", root_path %>
            </div>
        </div>
    </div>

    <hr>

