<% content_for :opengraph do %>
  <%= tag("meta", property: "og:title", content: @job.title ) %>
  <%= tag("meta", property: "og:description", content: @job.description ) %>
  <%= tag("meta", property: "og:url", content: job_url(@job) ) %>
  <%= tag("meta", property: "og:image", content: asset_url('home-bg.jpg') ) %>
  <%= tag("meta", property: "og:site_name", content: "Empregos Caldas Novas" ) %>
<% end %>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <div class="breadcumbs">
      <i><%= link_to("Início/", root_path) %>Vaga</i>
    </div>
      <% if flash[:notice] %>
        <div class="alert alert-success" role="alert"><%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-danger" role="alert"><%= flash[:alert] %>
        </div>
      <% end %>
      <br/>
      <br/>

      <h2>
        <strong>Vaga</strong> <%= link_to @job.title , @job.url %>
      </h2>
  
      <p>
        <strong>Companhia:</strong>
        <%= link_to @job.company, @job.url %>
      </p>

      <p>
        <strong>Email</strong>
        <%= mail_to(@job.email) %>
      </p>
      <p>
        <strong>Telefone</strong>
        <%= @job.telephone %>
      </p>

      <p>
        <strong>Descrição:</strong>
          <div class="line-box">
            <%= simple_format(h @job.description)%>
          </div>
      </p>

      <p>
      	<strong>Vaga postada:</strong>
      	<%= timeago(@job.created_at) %>
      </p>
      <br>
      <br>
        <%= link_to "Voltar ao início", root_path %>
        <%= link_to("Postar outra vaga?", new_job_path , class: "btn btn-success") %>
         <br>
      
      Compartilhar vaga: 
      <%= render_shareable :static_link => true, :buttons => ['twitter', 'facebook', 'linkedin'] %>
      

  </div>
</div>

<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55ae3dc17c6e5f91" async="async"></script>
