<!DOCTYPE html>
<html>
<head>
  <title>Empregos Caldas Novas! O que você quer, onde você quer.</title>
  <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true, :view_port => "true" %>
  <%= favicon_link_tag 'favicon.ico' %>

  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Empregos Caldas Novas, empregos, trabalhos, vagas, vagas de emprego, caldas novas, goiás, oportunidade de emprego, oportunidade de trabalho, emprego em caldas novas">
  <meta name="author" content="CodeBeMe, agência de desenvolvimento web">  

   <%= yield :opengraph %>

</head>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <%= link_to "Início", root_path %>
                    </li>
                    <li>
                      <%= link_to "Sobre o Empregos Caldas Novas",about_job_path %>
                    </li>

                    <li>
                    	<%= link_to("Anuncie sua Vaga", new_job_path, class: "btn btn-success") %>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

     <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
  <%= link_to root_path do %>
    <header class="intro-header" style="background-image: url(<%= asset_path('home-bg.jpg')%>)">
        <%#= image_tag("home-bg.jpg", class: "intro-home") %>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Empregos Caldas Novas!</h1>
                        <hr class="small">
                        <span class="subheading">O que você quer, onde você quer.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <% end %>


<%= yield %>

<%#= render "advertisements/right_column" %>

 <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                      <ul class="list-inline text-center">
                        <!-- <li>
                            <a href="https://twitter.com/codebeme", target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="http://facebook.com/CodeBeMine", target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li> -->
                      </ul>
                    <p class="copyright text-muted">
                    	<a href="http://codebe.me", target="_blank">CodeBeMe | Agência de Desenvolvimento Web</a>
                    	<br/> 
                    	Copyright &copy;<%= Time.now.year %></p>
                </div>
            </div>
        </div>
    </footer>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>

